body {
  background-color:hsl(197,100%,87%);
}
header {
  padding:40px;
  text-align:center;
  font-size:400%;
  font-color:hsl(0,0%,10%);
}
nav {
  text-align:center;
  font-size:200%;
  font-color:hsl(0,1%,100%);
  background-color:hsl(0,0%,0%);
  padding:0px;
}
a:link {
  color:#FFCCE5;
  text-decoration:none;
  }
a:visited {
  color:#FFCCE5;
  text-decoration:none;
  }
.L {
  font-size:300%;
  color:hsl(197,0%,20%);
  text-align:center;
  padding:20px;
  }
