body {
  background-color:lightcyan;
  margin:0;
  text-align:center;
  text-size:150%;
}
header {
  text-align:center;
  font-size:400%;
  background-color:lightgrey;
  padding:50px;
  outline:none;
  overflow:hidden;
}
header a:link {
  color:black;
  text-decoration:none;
}
nav {
  text-align:center;
  font-size:300%;
  outline-style:none;
  margin:20px;
}
nav a:link {
  color:black;
  text-decoration:none;
}
nav a:visited {
  color:black;
  text-decoration:none;
}
nav a:hover {
  color:black;
  text-decoration:underline;
}
/*nav a:active {
  color:black;
  text-decoration:underline;*/
}
