body {
  background-color:olivedrab;
}
header {
  padding:40px;
  text-align:center;
  font-size:400%;
}
nav {
  text-align:center;
  font-size:200%;
  background-color:olive;
  padding:20px;
  outline-style:none;
}
a:link {
  font-color:white;
  text-decoration:none;
  }
a:visited {
  font-color:white;
  text-decoration:none;
  }
